<% content_for :title do %>
Welcome - Login
<% end %>
<% content_for :header do %>
Welcome, do you want to login?
<% end %>

<% if flash.any? %>
    <% flash.each do |message_type, message| %>
        <div class="custom-error alert alert-<%= message_type %>">
            <p class="text-center"><%= message %></p>
        </div>
    <% end %>
<% end %>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>

            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control" %>

            <%= f.submit "Log in", class: "btn btn-primary margin-top-10" %>
        <% end %>
        <p class="margin-top-10">New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Test accounts</h2>
        <p>Email: 123@123.se, Password: 123123</p>
    </div>
</div>
