<div class="page-header">
    <h1 class="text-center">Register to get your API key</h1>
</div>
<div class="well">
    <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if @user.errors.any? %>
        <ul>
            <% for message_error in @user.errors.full_messages %>
                <li><%= message_error %></li>
            <% end %>
        </ul>
    <% end %>
    <%= form_for @user do |f| %>
        <div class="form-group">
            <%= f.label :email, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :email %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :password, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :password %>
            </div>
        </div>
        <div class="form-group">
            <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
            <div class="col-sm-10">
                <%= f.text_field :password_confirmation %>
            </div>
        </div>
        <div class="col-sm-offset-2 col-sm-10">
            <%= f.submit "Register", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>