<% content_for :title do %>
User profile
<% end %>
<% content_for :header do %>
"User dashboard"
<% end %>

<% if flash.any? %>
    <% flash.each do |message_type, message| %>
        <div class="custom-error alert alert-<%= message_type %>">
            <p class="text-center"><%= message %></p>
        </div>
    <% end %>
<% end %>

<% if @user.apps.any? %>
    <div class="user-apps">
        <h3 class="text-center">Your applications</h3>
        <% @user.apps.each do |app| %>
            <div class="custom-error alert alert-info">
                <p><span class="app-span">Name </span><%= app.name %></p>
                <p><span class="app-span">Description </span><%= app.description %></p>
                <p><span class="app-span">API key </span><%= app.key %></p>
                <p>Edit</p>
                <p>Delete</p>
            </div>
        <% end %>
    </div>
<% else %>
    <div class="text-center alert alert-info">
        <p>You have no registered applications, yet.</p>
    </div>
<% end %>

<div class="custom-error text-center alert alert-info">
    <%= link_to "Register a new application", new_app_path %>
</div>

<div class="custom-error text-center alert alert-danger">
    <p class="text-center">TODO</p>
    <p class="text-center">Edit and Delete applications</p>
    <p class="text-center">Admin interface, gonna hard code it...</p>
</div>