<% if is_admin %>
    <% content_for :title, "Admin interface" %>
    <% content_for :header, "Admin interface" %>
<% else %>
    <% content_for :title, "User profile" %>
    <% content_for :header, "\"User dashboard\"" %>
<% end %>

<%= render 'layouts/flash' %>

<% if is_admin %>
    <!-- Admin -->
    <% if @apps.any?%>
        <!-- Applications exists -->
        <div class="user-apps">
            <h3 class="text-center">All applications</h3>
            <% @apps.each do |app| %>
                <div class="custom-box alert alert-info">
                    <p><span class="fixed-span">Owner </span><%= app.user.email %></p>
                    <p><span class="fixed-span">Application </span><%= app.name %></p>
                    <div class="app-links">
                        <%= link_to 'Delete', app_path(app), method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link-right"  %>
                        <%= link_to 'Edit', edit_app_path(app), class: "nav-link-right"  %>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <!-- No registered applications -->
        <div class="text-center alert alert-info">
            <p>There is no registered applications, yet.</p>
        </div>
    <% end %>
    <!-- End -->
<% else %>
    <!-- User -->
    <% if @user.apps.any? %>
        <!-- Has applications -->
        <div class="user-apps">
            <h3 class="text-center">Your applications</h3>
            <% @user.apps.each do |app| %>
                <div class="custom-box alert alert-info">
                    <p><span class="fixed-span">Name </span><%= app.name %></p>
                    <p><span class="fixed-span">Description </span><%= app.description %></p>
                    <p><span class="fixed-span">API key </span><%= app.key %></p>
                    <div class="app-links">
                        <%= link_to 'Delete', app_path(app), method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link-right"  %>
                        <%= link_to 'Edit', edit_app_path(app), class: "nav-link-right"  %>
                    </div>
                </div>
            <% end %>
        </div>
    <% else %>
        <!-- No applications registered -->
        <div class="custom-box text-center alert alert-info">
            <p>You have no registered applications, yet.</p>
        </div>
    <% end %>
    
    <!-- An user has the option to add applications -->
    <div class="custom-box text-center alert alert-info">
        <%= link_to "Register a new application", new_app_path %>
    </div>
    <!-- End-->
<% end %>