<% content_for :title, "Welcome - Login" %>
<% content_for :header, "Welcome, do you want to login?" %>
<%= render 'layouts/flash' %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, required: true, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, required: true, class: "form-control" %>

      <%= f.submit "Log in", class: "btn btn-primary margin-top-10" %>
    <% end %>
    <p class="margin-top-10">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<div class="row">
  <div class="custom-box alert alert-success">
    <h3>Test accounts</h3>
    <p>Login as User 1 or 2 to see some keys,<br>as they are being generated automatically on setup(seed)</p>
    <p>Or try and signup and register an app to get your API-key</p>
  </div>
  <div class="custom-box alert alert-info">
    <h3>Admin</h3>
    <p><span class="span-2">Email: </span>admin@123.se<br><span class="span-2">Password: </span>password<br></p><span></span>
  </div>
  <div class="custom-box alert alert-info">
    <h3>User</h3>
    <p>
      <span class="span-2">Email: </span>123@123.se<br>
      <span class="span-2">Password: </span>123123<br>
    </p>
  </div>
    <div class="custom-box alert alert-info">
    <h3>User2</h3>
    <p>
      <span class="span-2">Email: </span>111@111.se<br>
      <span class="span-2">Password: </span>111111<br>
    </p>
  </div>
    <div class="custom-box alert alert-info">
    <h3>User3</h3>
    <p>
      <span class="span-2">Email: </span>222@222.se<br>
      <span class="span-2">Password: </span>222222
    </p>
  </div>
</div>
